<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <!-- <link rel="stylesheet" href="/styles/resets.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

  <header>
    <div class="">
      Logo
    </div>
    <div class="">
      Navigation
    </div>
  </header>

  <main>
    <section>
      <form class="" onsubmit="return Client.handleSubmit(event)">

        <label for="country">Country</label>
        <input id="country" list="countries"  placeholder="Enter a country here" required autocomplete="on">
        <datalist id="countries"></datalist>

        <label for="city">City</label>
        <input id="city" type="text" name="input" value="" required placeholder="Enter a city here"> 

        <label for="travel-date">Travel Date</label>
        <input id="travel-date" type="date" required>

        <input type="submit" name="" value="Analyze Text" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
      </form>
      <section>

        <section>
          <h1>Results:</h1>
          <img id="weather-icon">
          <div id="results"></div>
        </section>
      </main>

  <footer>
    <p>This is a footer</p>
  </footer>

<!-- TODO enable service worker before submission -->
<!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> -->

</body>

</html>