<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test</title>
  <!-- <link rel="stylesheet" href="/styles/resets.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/footer.css"> -->
</head>

<body>

  <header>
    <div class="">
      Travel Planner
    </div>
    <div class="">
      Navigation
    </div>
  </header>

  <main class="search-page">
    <section class="search">
      <form class="" onsubmit="return Client.handleSubmit(event)">

        <label for="country">Country</label>
        <input id="country" list="countries" placeholder="Enter a country here" required autocomplete="on"
          data-value="FR" value="France">
        <datalist id="countries"></datalist>

        <label for="city">City</label>
        <input id="city" type="text" required placeholder="Enter a city here" value="Paris">

        <label for="travel-date">Trip start</label>
        <input id="travel-date" type="date" required value="2020-08-03">

        <input type="submit" name="" value="Search Trips" onclick="return Client.handleSubmit(event)"
          onsubmit="return Client.handleSubmit(event)">
      </form>
    </section>

    <section class="details">
      <h1>Trip Details:</h1>
      <img id="weather-icon">
      <div id="results"></div>
      <input type="button" value="Save Trip">
    </section>

    <section class="photos">      
      <h1>Photos of Location:</h1>
      <div id="location-photos"></div>
    </section>

  </main>

  <footer>
    <p>This is a footer</p>
  </footer>

  <!-- TODO enable service worker before submission -->
  <!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> -->

</body>

</html>