:root {
  /* General Colors */
  --site-bg-color: #1e1e1e;
  --site-fg-color: #ccc;
  --box-bg-color: #252526;
  --box-fg-color: #ccc;
  --box-border-color:  #545454;

  /* Input colors */
  --input-bg-color: #ccc;
  --input-fg-color: #1e1e1e;
  --input-button-fg-color: #1e1e1e;
  --input-button-bg-color: #999;


  /* link-specific */
  --link-fg-color: #9ddcfe;

  /* navigation-specific */
  --nav-fg-color: #ccc;
  --nav-bg-color: #3b3a39;
  --nav-hover-fg-color: #ccc;
  --nav-hover-bg-color: #525150;
  --nav-active-fg-color: #ccc;
  --nav-active-bg-color: #999;
}
