@media (max-width: 900px) {
  .search-page {
      display: grid;
      grid-template-areas: 
          "header" 
          "search"
          "details" 
          "photos"
          "footer";
      grid-template-columns: 1fr;
      grid-template-rows: auto minmax(75px, auto) 1fr minmax(75px, auto) auto;
  }

  .weather-icon {
    margin: 10px 0 5px 0;
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 901px) {
  .search-page {
      display: grid;
      grid-template-areas: 
          "header header" 
          "search details" 
          "photos photos" 
          "footer footer";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr auto 1fr auto;
      grid-gap: 10px;
      height: 99vh;
  }

  .weather-icon {
    margin: 10px 0 5px 0;
    width: 128px;
    height: 128px;
  }
}

.search {
  grid-area: search;
}

.details {
  grid-area: details;
}

.photos {
  grid-area: photos;
}
